table {
  width: 100%;
  table-layout: fixed;
}

td {
  padding: 8px;
}

img[src=""] {
  display: none;
}

img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}

#posterHolder {
  width: 100px;
}

#tableHolder {
  margin: 32px;
  padding: 4px;
}

#searchBarHolder {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

ngb-rating {
  color: yellow;
}
