<h2>Looking for movies?</h2>

<div id="searchBarHolder">
  <input id="movieSearchBar" type="search" placeholder="Search...">
</div>

<div id="tableHolder">
  <p-table [value]="movies">
    <ng-template pTemplate="header"></ng-template>
    <ng-template pTemplate="body" let-movie>
      <tr>
        <td id="posterHolder">
          <img *ngIf="movie.imageUrl" src="{{movie.imageUrl}}" alt="poster">
        </td>
        <td>
          <h4>{{movie.title}}</h4>
          <div>{{movie.description}}</div>
          <div>{{movie.duration}}</div>
          <div>{{movie.year}}</div>
          <div>{{movie.director}}</div>
          <div>{{movie.category}}</div>
          <div *ngIf="movie.rank">Rank: {{movie.rank}}</div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


